* {
  margin: 0em;
  padding: 0em;
  font-family: 'Baloo 2';
}

.layout_width {
  width: 100vw;
}

.layout_height {
  height: 100vh;
}

.login_form {
  width: 30em;
  height: fit-content;
}

.nav_box {
  width: 5em;
}
.nav_font {
  font-size: 1em;;
}

.menu_list_width {
  width: 14em;
}

/* Table Hover */
.table_hover:hover {
  background: #eeeeee;
}

/* Quick sale decor */
.category_box {
  min-width: 6em;
}

.product_box {
  width: 15rem;
  height: 15rem;
  transition: transform .2s;
}
.product_box:hover {
  transform: scale(1.05);
}

.receipt_width {
  width: 25em;
}
/* end Quick sale decor */

/* Product Create */
.product_create_img {
  width: 10em;
  height: 10em;
  object-fit: cover;
}
/* End Product */


/* Modal */
.modaldeleteBrand { width: 30% !important ; height: 28.99% !important ; }  /* increase the height and width as you desire */
/* Modal */


/* Decore For Home page */
.home_background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://img.freepik.com/free-vector/wavy-background-with-copy-space_52683-65230.jpg?w=1380&t=st=1676619090~exp=1676619690~hmac=9ef7a9cd353f498176eb6b09c7aca30c4102ab84466cc5a96defdc406c375585');
}
.product_card {
  width: 15em;
  height: 21.3em;
  overflow: hidden;  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s;
}
.product_card:hover {
  transform: scale(1.05);
}
.product_image {
  width: 15em;
  height: 17em;
  object-fit: cover;
}
.product_title {
  width: 15em;
  height: 5.5em;
  margin-top: -1.6em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_title > p {
  font-size: 16px;
}
.text_overflow {
  text-overflow: ellipsis;
}
.product_price {
  color: #545454;
  /* text-shadow: 1px 1px 2px #000000; */
}

@media screen and (max-width: 767px) {
  .product_card {
    width: 9em;
    height: 15em;
    overflow: hidden;  
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.2s;
  }
  .product_card:hover {
    transform: scale(1.08);
  }
  .product_image {
    width: 9em;
    height: 12em;
    object-fit: cover;
  }
  .product_title {
    width: 9em;
    height: 4em;
    margin-top: -0.9em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product_title > p {
    font-size: 10px;
  }
  .text_overflow {
    text-overflow: ellipsis;
  }
  .product_price {
    color: #545454;
    /* text-shadow: 1px 1px 2px #000000; */
  }
}
/* End Decore For Home page */